<%= javascript_include_tag "kpa-facilitator" %>

<div class="alert-info team1 pregame team">
    <h2>Team 1</h2>
    <ul id="team1list">
    </ul>
</div>
<div class="pregame controls">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li id="kpa-controls-btn"  class="active"><a href="#" data-toggle="tab">Key Punch</a></li>
          <li id="zoom-controls-btn" class=""><a href="#" data-toggle="tab">Zoom</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="kpa-controls">
              <div class="form-horizontal row">
                  <div class="span4">
                      <div class="control-group">
                            <label class="control-label" for="return-location">Teleport Location:</label>
                            <select id="return-location">
                                <option>CampFire</option>
                            </select>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="duration">Duration (min):</label>
                            <select id="duration">
                                <option>15</option>
                                <option>30</option>
                                <option>45</option>
                            </select>
                        </div>
                    </div>
                    <div class="span2">
                        <div class="btn btn-success" id="startbtn">
                            Start Game 
                        </div>
                        <div class="btn btn-danger" id="clearbtn">
                            Clear Game
                        </div>
                    </div>
                </div>
          </div>
          <div class="tab-pane" id="zoom-controls">
            <p>Coming soon...</p>
          </div>
        </div>
     </div>
</div>
<div class="alert-error pregame team2 team">
    <h2>Team 2</h2>
    <ul id="team2list">
    </ul>
</div>


<div class="alert-info team1 ingame team">
    <h2>Team 1</h2>
    <div id="team1score" class="score">
    </div>
</div>
<div class="controls ingame">
    <div class="timer">
        <h1 id="timeRemaining"></h1>
    </div>
    <div class="container stop-container">
        <div class="btn btn-danger" id="stopbtn">
            Stop Game
        </div>
    </div>
</div>
<div class="alert-error ingame team2 team">
    <h2>Team 2</h2>
    <div id="team2score" class="score">
    </div>
</div>
