<%= javascript_include_tag "kpa-facilitator" %>

<div id="pregame" class="row">
    <div class="span4">
        <h2>Team 1</h2>
        <ul id="team1list">
        </ul>
    </div>
    <div class="span4">
        <div>
            Teleport Location:
            <select id="return-location">
                <option>CampFire</option>
            </select>
        </div>
        <div>
            Duration (min):
            <select id="duration">
                <option>15</option>
                <option>30</option>
                <option>45</option>
            </select>
        </div>
        <div class="btn" id="startbtn">
            Start Game
        </div>
        <div class="btn" id="clearbtn">
            Clear Game
        </div>
    </div>
    <div class="span4">
        <h2>Team 2</h2>
        <ul id="team2list">
        </ul>
    </div>
</div>

<div id="ingame" class="row">
    <div class="span4">
        <h2>Team 1</h2>
        <div id="team1score">
        </div>
    </div>
    <div class="span4">
        <div id="timeRemaining">
        </div>
        <div class="btn" id="stopbtn">
            Stop Game
        </div>
    </div>
    <div class="span4">
        <h2>Team 2</h2>
        <div id="team2score">
        </div>
    </div>
</div>