<%= javascript_include_tag "kpa-player" %>

<div id="ingame" class="row">
    <div class="span4">
        <h2>Team 1</h2>
        <div id="team1score">
        </div>
    </div>
    <div class="span4">
        <div id="timeRemaining">
        </div>
    </div>
    <div class="span4">
        <h2>Team 2</h2>
        <div id="team2score">
        </div>
    </div>
</div>