i {
    margin-right:5px;
    margin-top:3px;
}

select {
    width:auto;
    min-width:90px;
}


.wa-client{
 margin-top:120px;
 width:50%;   
 overflow:hidden;
 padding-top:50px;
 padding-bottom:50px;
}

.round {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

.team {
    position:absolute;
    top:120px;
    width:200px;
    height:auto;
    min-height:250px;
}

.team h2 {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
}

.team ul {
    list-style:none;
}

.team1 {
    left:0;
    -moz-border-radius-topright: 50px;
    -webkit-border-top-right-radius: 50px;
    border-top-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    -webkit-border-botom-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.team1 ul {
    font-size:18px;
    margin-left:35px;
}

.control-group {
    height:18px;
}

.team2{
    right:0;
    -moz-border-radius-topleft: 50px;
    -webkit-border-top-left-radius: 50px;
    border-top-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -webkit-border-botom-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.team2 ul {
    font-size:18px;
    margin-left:60px;
}

.controls {

}

.btn {
    margin-bottom:5px;
}

.tabbable{
    margin-top:5px;
    margin-left:5px;
}

.timer {
    position:absolute;
    top:60px;
    width:50%;
}

.timer h1 {
    color: #DA4F49;
    text-align:center;
}

.stop-container {
    width:88px;
    margin-top:5px;
}

.score {
    height:100%;
    text-align:center;
    font-size:150px;
    line-height:150px;
}

[class^="icon-"] {
    background-image: url(/assets/glyphicons-halflings.png);
}

#WACanvas{
    background-color:#DFF0D8;
